<app-navtop></app-navtop>

<app-textinput></app-textinput>
<hr class="pb-3">
<app-table></app-table>
<div class="container mt-4">
  <a class="btn btn-primary mb-4" (click)="createData()">GGGG</a>

  <table *ngIf="data && data.length > 0" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>_id</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item._id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.author || '-' }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!data || data.length === 0" class="text-center">No data available</p>
</div>

<!-- สำหรับการแสดงข้อมูลในรูปแบบ JSON -->
<pre>{{ dataString }}</pre>


